/*comentario*/
// comentario no compila

@import "vars";
@import "header";
@import "pages";
@import "media";

$boxHeight: 600px;

/* operaciones + - * / */
.container {
  width: 300px + 100px;
  height: $boxHeight * 2;
}
